[submodule "harnessing-synaptic-weight-FTSTS"]
	path = harnessing-synaptic-weight-FTSTS
	url = https://github.com/jschmalz/harnessing-synaptic-weight-FTSTS.git
[submodule "dbsenv"]
	path = dbsenv
	url = git@github.com:OwenMastropietro/dbsenv.git
